{{#partial "content"}}
    {{#if teams}}
        {{#each teams}}
            <h2>Current team:</h2>
            <h3>{{name}}<a href="/teams/{{id}}"> Team Info</a></h3>
        {{/each}}
    {{else}}
        <h1>No one has signed up!</h1>
    {{/if}}
{{/partial}}
{{> layout.hbs}}