{{#partial "content"}}
    {{#if teams}}
        {{#each teams}}
            <p>Current team:</p>
            <p>{{ name }}</p>
        {{/each}}
    {{else}}
        <p>No one has signed up!</p>
    {{/if}}
{{/partial}}
{{> layout.hbs}}