{{#partial "content"}}
    <h3>Member:</h3>
    <p>{{ member.name }}</p>
        <a href="/members/update">Edit this member</a><br>
        <a href="/teams/{{member.teamId}}/members/{{member.id}}/delete">DELETE this member (no undo)</a>
{{/partial}}

{{> layout.hbs}}