{{#partial "content"}}
    <h1>{{team.name}}</h1>
    <h3>Team Name:</h3>
    <h4>{{team.name }}</h4>
    <h3>Team Description:</h3>
    <h4>{{team.description}}</h4>
    <h3>Member:</h3>
        <ul>
            {{#each members}}
                <li>
                    {{name}}
                    <br>
                    <a href="/members/update">Edit this member</a><br>
                    <a href="/members/delete">DELETE this member (no undo)</a>
                </li>
            {{/each}}
        </ul>
    <a href="/teams/update">Edit this team</a><br>
    <a href="/teams/delete">DELETE this team (no undo)</a>
{{/partial}}

{{> layout.hbs}}