{{#partial "content"}}
    {{#if editTeam}}
        <h1>Edit this team!</h1>
        <form action="/teams/update" method="POST">
            <select name="editTeamId" id="editTeamId">
                {{#each teams}}
                    <option value="{{id}}">{{name}}</option>
                {{/each}}
            </select>
            <label for="teamName">Edit this team's Name:</label>
            <input type="text" name="newTeamName" class="form-control" id="newTeamName" placeholder="new team name">

    {{else}}
            <h1>Add a new Team!</h1>
        <form action="/teams" method="POST">
            <div class="form-group">
                <label for="name">Team Name</label>
                <input type="text" name="name" class="form-control" id="name">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" name="description" class="form-control" id="description">
            </div>
    {{/if}}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
{{/partial}}

{{> layout.hbs}}